.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 0px;
  border-radius: 25px;
}

.navbar button:hover {
  background-color: black;
}

.feedback-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.feedback-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.stars {
  margin: 10px 0;
}

.star {
  font-size: 2rem;
  cursor: pointer;
}

.star.filled {
  color: gold;
}

.end-chat-button {
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.end-chat-button.glow {
  box-shadow: 0 0 10px #007bff;
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.suggestion-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.suggestion-button:hover {
  background-color: #0056b3;
}

.timestamp {
  font-size: 0.75rem;
  color: #888;
  text-align: right;
  margin-top: 5px;
}
